:root {
  --background: #121212;
  --color-primary: #ffffff;
  --color-secondary: #bb86fc;
  /* --color-secondary: #ecc94b; */
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  background-color: var(--background);
  color: var(--color-primary);
}

#root {
  height: inherit;
}
